body {
    background: url(https://cdn2.vectorstock.com/i/1000x1000/70/06/seamless-pattern-colored-ice-cream-background-vector-15487006.jpg);
}

.question {
    margin-left: 220px;
    text-emphasis: bold;
}

h1 {
    margin-left:350px;
    margin-top: 50px;
}

#counter {
    margin-left: 340px;
}

#submit {
    margin-left: 250px;
    width: 200px;
    height: 50px;
    background-color: pink;
}

#square {
    background-color: aquamarine;
    width: 900px;
    margin-left: 275px;
}





